manifest {
    name        = 'watchtower-rnaseq'
    description = 'Salmon + DESeq2 RNA-seq pipeline for public-omics-watchtower'
    version     = '1.0.0'
    author      = 'UW Marine Genomics Laboratory'
}

params {
    samplesheet   = null
    salmon_index  = null
    outdir        = './results'
    contrast      = 'treatment_vs_control'
    min_count     = 10
    alpha         = 0.05
    lfc_threshold = 1.0
}

includeConfig 'conf/base.config'

profiles {
    mac_arm64 {
        includeConfig 'conf/mac_arm64.config'
    }
    test {
        includeConfig 'conf/base.config'
    }
}
